<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>prestartup</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css') }}"/>
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap/css/bootstrap.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/animate.min.css') }}"/>
    <link rel="stylesheet" href="{{url_for('static', filename='fontawesome/css/all.css') }}"/>
    <script type="text/javascript" src="{{url_for('static', filename='js/jquery-3.6.1.min.js') }}" defer></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/main.js') }}" defer></script>

<style type="text/css">
	.main_hero{
		background-image:url(images/svg/pre_hero.svg)
	}
	div{
		position: relative;
	}
</style>

</head>
<body>
	<div class="col-sm-12">
		<div class="row mx-auto nav_bar">
			<div class="col-4">
				<input class="form-control form-control-sm my-3 ms-2" type="search" placeholder="Search" values="">
			</div>
			<div class="col-5 col3">
				<ul>
					<li><a href='invest.html' target="_blank">Investors</a>&emsp;&emsp;&nbsp;</li>
					<li><a href="startup.html" target="_blank">Startup</a>&emsp;&emsp;&nbsp;</li>
					<li><a href="prestartup.html" target="_blank">Pre-Startup</a>&emsp;&emsp;</li>
					<li><a href="ngo.html" target="_blank">NGO</a></li>
			</div>		
		</div>
	</div>

<div class="container-fluid">
	<div class="my-5 mx-auto headercase">
					<h1 class="hero_title1">
						Entrepreneur...</h1>
						<h1 class="hero_title2">Is Your Business Scalable&quest;</h1>
					</h1>
					<p class="ms-2">
						<br>What stage are you in&quest; The development stage is where your
						idea gets serious. You are building your next big thing and the business model.
						This business model will need to support you in delivering that big thing.<br>
					</p>	
					<div class='ms-5 btncase'>
						<button class="btn btn-outline-primary btn-lg me-2 px-5 ctabtn_outline signup">Sign Up</button>
						<button class="btn btn-primary btn-lg mx-2 px-3 _ctabtn login">Login</button>
					</div>	
				</div>
		</div></div>
		

		<div class="row my-3">
			<div class="col-sm-12 my-3">
				<p class="mt-2 ms-4 desc">HOW IT WORKS</p>
				<h1 class="ms-3 title">Get The Support You Need</h1>
				<p class="ms-3">Funds help you prepare for better for the entrepreneural journey. 
					lasting supporter relationships while saving money.
				</p>
			</div>
			<div class="col-md-3 mb-5 mx-auto photobox">
				<img class="my-3 mb-5 img-thumbnail photobx" src="images/pre1.png" alt="box1">
				<h5>You have the next big idea on paper? Register now
					on Funds,&#38; start pitching. An investor might just be around the corner.</h5>
			</div>
			<div class="col-md-3 mb-5 mx-auto text-center mx-auto photobox">
				<img class="my-3 mb-5 img-thumbnail photobx" src="images/pre2.png" alt="box2">
				<h5>We verify and publish entries that are in
					sync with what investors are looking for. Investors browse through Funds directory &#38;
					chooses what business to invest in.
				</h5>
			</div>
			<div class="col-md-3 mb-5 mx-auto photobox">
			<img class="my-3 mb-5 photobx img-thumbnail" src="images/startup3.png" alt="box3">
			<h5 >You get disbursements through Funds from serious investors.</h5>
			</div>
		</div>

		<div class="row my-5 intsctn">
		
		
		
		
		
		
		
		
		
		</div>

		























		<div class="footer text-center">
			<ul class="mt-4">
				<li><a href="privacy-policy.html">Privacy Policy</a></li>&emsp; &emsp; &nbsp;
			<li><a href="terms-and-condition.html">Terms of Use</a></li>&emsp; &emsp; &nbsp;
			<li><a href="site-requirement.html">Site Requirements</a></li>&emsp; &emsp; &nbsp;
			<li><a href="https://www.yemi.dev/">Designed By Yemi</a></li>
			</ul>
		</ul>
		<p class="mb-2">Funds Africa&copy; &emsp;&#45;&emsp;All Rights Reserved.</p>
		</div>



	</div>
<script type="text/javascript" src="js/main.js"></script>
</body>
</html>