

<div class="list-group list-group-flush my-3">
    <a href="/admin/dashboard" class="list-group-item list-group-item-action bg-transparent second-text active">
        <i class="fas fa-tachometer-alt me-2"></i>Dashboard</a>

    <a href="/admin/party" class="list-group-item list-group-item-action bg-transparent second-text fw-bold">
        <i class="fa-solid fa-file"></i>  Add Parties</a>

    <a href="/admin/parties" class="list-group-item list-group-item-action bg-transparent second-text fw-bold">
        <i class="fa-sharp fa-solid fa-eye"></i> View Parties</a>

    <a href="{{url_for('all_topics')}}" class="list-group-item list-group-item-action bg-transparent second-text fw-bold">
        <i class="fa-solid fa-thumbs-up"></i> All Topics</a>

    <a href="#" class="list-group-item list-group-item-action bg-transparent second-text fw-bold">
        <i class="fa-sharp fa-solid fa-comments"></i> Comments</a>

    <a href="#" class="list-group-item list-group-item-action bg-transparent second-text fw-bold">
        <i class="fa-solid fa-share-from-square"></i> Shares</a>

    <a href="/admin/logout" class="list-group-item list-group-item-action bg-transparent text-danger fw-bold">
        <i class="fa-sharp fa-solid fa-power-off"></i> Logout</a>
</div>