{% extends "admin/index.html" %}
{% block party%}
<div class="row py-4">
    <div class="col-5 bg-white rounded mx-auto pt-3 pb-4">
        <div class="login">
            <h1 class="text-center">
              Add party
          </h1>
        <hr class="text-success mb-3 fw-bolde">
            <form method="post" action="">        
                  <div class="row justify-content-around mb-3">
                      <div class="col-1">
                          <label class="form-label">Name</label>
                      </div>
                      <div class="col-5">
                          <input type="text" name="partyname" placeholder="partyname" class="form-control">
                      </div>
                  </div>
            
                  <div class="row justify-content-around mb-3">
                      <div class="col-1">
                          <label class="form-label">Shortcode</label>
                      </div>
                      <div class="col-5">
                          <input type="text" name="partycode" placeholder="partycode" class="form-control">
                      </div>
                  </div>
              
                  <div class="row justify-content-around mb-3">
                      <div class="col-1">
                          <label class="form-label">Contact</label>
                      </div>
                      <div class="col-5">
                          <input type="text" name="partycontact" placeholder="partycontact" class="form-control">
                      </div>
                  </div>
        
                  <div class="row mb-3">
                        <button class="btn btn-success col-4 mx-auto rounded">Add</button>
                    </div>
              
                  
        
            </form>
          </div>
    </div>
</div>

{% endblock %}