{%extends '/admin/template.html' %}
{%block content%}
    <div class="container-fluid px-4">
        <div class="row g-3 my-2" style="color: #008753;">
            <div class="col-md-6">
                <div class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
                    <div>
                        <h3 class="fs-2">50,500</h3>
                        <p class="fs-5">Visits</p>
                    </div>
                    <i class="fa-sharp fa-solid fa-eye fs-1 primary-text border rounded-full secondary-bg p-3"></i>
                </div>
            </div>

            <div class="col-md-6">
                <div class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
                    <div>
                        <h3 class="fs-2">50,120</h3>
                        <p class="fs-5"> Total Likes</p>
                    </div>
                    <i class="fa-solid fa-thumbs-up fs-1 primary-text border rounded-full secondary-bg p-3"></i>
                </div>
            </div>

            <div class="col-md-6">
                <div class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
                    <div>
                        <h3 class="fs-2">49,950</h3>
                        <p class="fs-5">Comments</p>
                    </div>
                    <i class="fa-sharp fa-solid fa-comments fs-1 primary-text border rounded-full secondary-bg p-3"></i>
                </div>
            </div>

            <div class="col-md-6">
                <div class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
                    <div>
                        <h3 class="fs-2">50,050</h3>
                        <p class="fs-5">Total Share</p>
                    </div>
                    <i class="fa-solid fa-share-from-square fs-1 primary-text border rounded-full secondary-bg p-3"></i>
                </div>
            </div>
        </div>
    </div>

    
</div>
{%endblock%}
