
            <div class="list-group list-group-flush my-3">
                <a href="{{url_for('dashboard')}}" class="list-group-item list-group-item-action bg-transparent second-text active">
                    <i class="fas fa-tachometer-alt me-2"></i>Dashboard</a>

                <a href="{{url_for('all_parties')}}" class="list-group-item list-group-item-action bg-transparent second-text fw-bold">
                    <i class="fa-solid fa-file"></i> Manage Parties</a>

                <a href="{{url_for('all_topics')}}" class="list-group-item list-group-item-action bg-transparent second-text fw-bold">
                    <i class="fa-sharp fa-solid fa-eye"></i> All Topics</a>

                <a href="#" class="list-group-item list-group-item-action bg-transparent second-text fw-bold">
                    <i class="fa-solid fa-thumbs-up"></i> Likes</a>

                <a href="#" class="list-group-item list-group-item-action bg-transparent second-text fw-bold">
                    <i class="fa-sharp fa-solid fa-comments"></i> Comments</a>

                <a href="#" class="list-group-item list-group-item-action bg-transparent second-text fw-bold">
                    <i class="fa-solid fa-share-from-square"></i> Shares</a>

                <a href="/admin/logout" class="list-group-item list-group-item-action bg-transparent text-danger fw-bold">
                    Hi, {{session['loggedin']}}
                    <i class="fa-sharp fa-solid fa-power-off"></i> Logout</a>
            </div>
        </div>

