<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href=" {{url_for('static',filename='bootstrap/css/bootstrap.css')}} ">
	<link rel="stylesheet" type="text/css" href=" {{url_for('static',filename='fontawesome/css/all.min.css')}} ">
    <link rel="stylesheet" href=" {{url_for('static',filename='css/admin.css')}} ">
    <title>Party Registration</title>
</head>
<body>
    <div class="login">
      <h1>
        Party Form
    </h1>
      <form method="POST" action="">

        {% with m=get_flashed_messages() %}
          {% if m %}
            {% for msg in m%}
           <div class="alert alert-danger"> {{msg}} </div> 

           {%endfor%}

          {% endif %}

        {%endwith %}

        <div class="txt_field">
          <input type="text" name="partyname" required>
          <span></span>
          <label>Name of Party</label>
        </div>

        <div class="txt_field">
          <input type="text" name="partycode" required>
          <span></span>
          <label>Short Code</label>
        </div>

        <div class="txt_field">
            <input type="text" name="partycontact" required>
            <span></span>
            <label>Contact</label>
          </div>

        
        <input type="submit" value="Add Party">
        

      </form>
    </div>
    
</body>
</html>