<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Funds App</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css') }}"/>
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap/css/bootstrap.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/animate.min.css') }}"/>
    <link rel="stylesheet" href="{{url_for('static', filename='fontawesome/css/all.css') }}"/>
    
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5 ms-3">
                <div class="_logo">
                    <img class='mb-2' src="static/images/logo/sitelogo.png" alt="logo" id="logo" />
                </div>
                <div class='mb-3'>
                    <p class="_intro animate__animated animate__fadeIn animate__delay-1s">
                        The biggest risk of all is not taking one.
                    </p>
                    <div id="purpose">
                        <h4 class="_dropdown animate__animated animate__fadeIn">
                            I&apos;m looking to...</h4>
                        <div class="_ctadropdown">
                            <select name="invest_type" id="invest_type" class="my-3">
                                <option value="">- Choose One -</option>
                                <option value="raise_fund">Raise Funds</option>
                                <option value="invest">Invest</option>
                            </select>
                            <select name="funding_type" id="invest_group" class="my-3">
                                <option value="">- Choose One -</option>
                                <option value="ngo">An NGO</option>
                                <option value="startup">A Startup</option>
                                <option value="prestartup">A Pre-startup</option>
                            </select>
                            <button class="btn btn-primary btn-lg ctabtn" id="ctabtn_ctd">Continue</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mx-auto" id="headintro">
                <p class="text-white ps-4 pe-5 me-5 my-5 animate__animated animate__flash animmate__delay-3"
                    id="_intro_msg">
                    <span>
                        Find investors or raise funds for your business or NGO
                    </span><br>
                    Join the Funds network and pitch your startup, pre-startup, SMB or NGO today.
                </p>
            </div>
            <div id="sm_msg"></div>


        </div>
    </div>



































    </div>
    <script type="text/javascript" src="{{url_for('static', filename='js/jquery.min.js') }}"/></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/main.js') }}"/></script>

    <script type="text/javascript" language="javascript">

    </script>
</body>

</html>