{% extends 'dashboardlayout.html' %}

{% block dashboard_menu%}
<div class="box ngodashboard">
    <p>{{registered}}<br><span>Registered</span></p>
    <i class="fa fa-users box-icon"></i>
</div>
</div>

<div class="col-div-3">
<div class="box startupdashboard">
    <p>{{pending}}<br><span>Pending</span></p>
    <i class="fa fa-list box-icon"></i>
</div>
</div>

<div class="col-div-3">
<div class="box prestartupdashboard">
    <p>{{approved}}<br><span>Approved</span></p>
    <i class="fa fa-shopping-bag box-icon"></i>
</div>
</div>

<div class="col-div-3">
<div class="box funded">
    <p>{{funded}}<br><span>Funded</span></p>
    <i class="fa fa-tasks box-icon"></i>
</div>
</div>

<div class="clearfix"></div>
{% endblock%}

{% block title %}
<p>Verified Pre Startups <span>View All</span></p>
{% endblock %}

{% block side_content_title %}
<p>&emsp; Seeking Funds <span>View All</span></p>
{% endblock %}


{% block side_menu %}
<a href="#" class="icon_a prestartupdashboard"><i class="fa fa-dashboard icons"></i>&nbsp;&nbsp; Dashboard</a>
<a href="#" class="icon_a reg"><i class="fa fa-list-alt icons"></i>&nbsp;&nbsp; Register</a>
<a href="#" class="icon_a prestartuplist"><i class="fa fa-users icons"></i>&nbsp;&nbsp; List</a>
<a href="#" class="icon_a prestartupcontact"><i class="fa fa-list icons"></i>&nbsp;&nbsp; Contact</a>
<a href="#" class="icon_a prestartuppitch"><i class="fa fa-tasks icons"></i>&nbsp;&nbsp; Pitches</a>
<a href="#" class="icon_a prestartupaccount "><i class="fa fa-users icons"></i>&nbsp;&nbsp; Accounts</a>
<a href="{{ url_for("fbuser.signout")}}" class="icon_a">&nbsp;&nbsp;Logout</a>

{% endblock %}

{% block table_hd %}
<th>Pitch</td>
<th>Image</td>
{% endblock %}

{% block innertable %}
{% for c  in content %}
        <tr>
            <td class="text-small"><strong><a href="url_for('fbuser.profile(cid)')">{{ c.b_user_fname + " " + c.b_user_lname}}</a></strong></td>
            <td>{{c.business_name}}</td>
            <td>{{c.b_user_email}}</td>
        </tr>
        {% endfor %}
            
{% endblock %}

{% block totalsale %}
<p>Approved Pitches</p>
{% endblock %}
{% block list %}
{% if content %}
    {% for c in content %}
    <div>
        <ul>
            <li>{{c.business_name}}</li>  
        </ul>
    </div>
    {% endfor %}
    {%endif%}
{% endblock %}



{% block customJs %}
<script>

    $(document).ready(function(){
        $("#d_dd").selectpicker; 
    })


</script>
{% endblock %}