{% extends 'formlayout.html' %}

{% block spbtn %}
<style>
  .spbtn{
    position: relative !important;
    right: 40% !important;
    top:30% !important;
    width: 60%;
  }

  .card{
    width:350px;
    height:480px;
    perspective:1500px;
    position: relative;
    right:3%
  }
  input[type=text],
  input[type=password],
  input[type=email]{
    width: 70%;
    height:40px;
    padding: 10px;
    margin: 10px 96px;
    box-sizing: border-box;
    color: #000;
    background-color: #F5EE9E;
    outline: none;
    border-radius: 4px;
    position: relative;
    right: 14%
  }
  .spbtn{
    position: relative !important;
    left: 24% !important;
    width: 50%;
    padding: 7px;
    color: #fff;
    background: #10349A;
    text-align: center;
    font-size: 18px;
    border-radius: 4px;
    outline: none;
    border-radius: none;
    cursor: pointer;
    transition: .3s;
  }
  .form_box{
    background-color:#0e34a0 !important;
  }


</style>

{% endblock %}

{% block formtitle %}

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
  {% for category, message in messages %}
    <div class="alert alert-{{ category }}">
      {{ message }}
  {% endfor %}
{% endif %}

{% endwith %}

      {% block form_fields %}
      <form method="post" action="{{ url_for('fbuser.prestartup_signup')}}">
        {{ form.hidden_tag() }} 
        <legend class="text-center border-bottom mb-3">Sign Up Form</legend>         
        <div class="txt_field form-group">

          {% if form.fname.errors %}
            {{ form.fname (class="is_invalid") }}
              <div class="invalid-feedback">
                {% for error in form.fname.errors %}
                <span>{{ error }}</span>
                {% endfor %}
              </div>
          {% else %}
            {{ form.fname }}
          {% endif %}

        </div>

        <div class="txt_field form-group">

          {% if form.lname.errors %}
            {{ form.lname (class="is_invalid") }}
              <div class="invalid-feedback">
                {% for error in form.lname.errors %}
                <span>{{ error }}</span>
                {% endfor %}
              </div>
          {% else %}
            {{ form.lname }}
          {% endif %}
          
        </div>
        
        <div class="txt_field form-group">

          {% if form.email.errors %}
            {{ form.email (class="is_invalid") }}
              <div class="invalid-feedback">
                {% for error in form.email.errors %}
                <span>{{ error }}</span>
                {% endfor %}
              </div>
          {% else %}
            {{ form.email }}
          {% endif %}
          
        </div>
            
        <div class="txt_field form-group">

          {% if form.password.errors %}
            {{ form.password (class="is_invalid") }}
              <div class="invalid-feedback">
                {% for error in form.password.errors %}
                <span>{{ error }}</span>
                {% endfor %}
              </div>
          {% else %}
            {{ form.password }}
          {% endif %}
          
        </div>
        <div class="txt_field form-group">

          {% if form.confirm_password.errors %}
            {{ form.confirm_password (class="is_invalid") }}
              <div class="invalid-feedback">
                {% for error in form.confirm_password.errors %}
                <span>{{ error }}</span>
                {% endfor %}
              </div>
          {% else %}
            {{ form.confirm_password }}
          {% endif %}

        <div class="form-group">
          {{ form.submit (class="spbtn") }}
        </div>
            
        <div class="formlink">
          <span class="ms-5">Already Registered? <a href={{url_for("fbuser.prestartup_login")}}>Login here</a></span>
        </div>

        </form>
      {% endblock %} {% endblock %}


      <script>


    <script>



