{% extends "home.html" %}
{% block pagetitle %}<title>Profile - Funds</title>{% endblock %}

{% block content %}
<div class="content" style="background-color: white;padding:1.2em">
  <h3>Profile</h3>

{% block home_style %}
<style>
label{
  position: relative;
  top:-10% !important;
  font-weight: 600 !important;
  color: #10349A !important;
  font-size:12px !important;
}
.spbtn{
  position: relative !important;
  left: -16%;
  width: 20%;
  padding: 7px;
  color: #fff;
  background: #10349A;
  text-align: center;
  font-size: 18px;
  border-radius: 4px;
  outline: none;
  border-radius: none;
  cursor: pointer;
  transition: .3s;
}
._input{
  font-size:small;
  position:relative;
  top:-10%;
}
.mail{
  color:rgb(1, 142, 66);
}
.fields{
position:relative;
left:28%;
}

.dp_container{
  width:14%;
  height: 15vh;
  position:relative;
  left:26%;
  margin:none;
}
</style>
{% endblock %}
  <div>
    <label for="floatingInput"></label>
    <div class="field dp_container">
      {% if deets.b_user_pic %}
      <img src="{{ url_for('static', filename="uploads/"+deets.b_user_pic) }}" width="80%"/>
      {% else %}
      <img src="{{ url_for('static', filename='images/avatar.jpg') }}" width="80%"/>
      {% endif%}
    </div>
  </div>
      <div class="mb-2 fields">
        <label for="fname">First name</label>
        <div class="_input"><h6>{{ deets.b_user_fname }}</h6></div>
      </div>

      <div class="fields">
        <label for="lname">Last name</label>
        <div class="mb-2 _input"><h6>{{ deets.b_user_lname }}</h6></div>
      </div>

    <div class="fields">
        <label for="mail">Email address</label>
        <div class="mb-2 _input"><h6>{{ deets.b_user_email }}</h6></div>
    </div>

    <div class="fields">
      <label for="business">Business</label>
      <div class="mb-2 _input"><h6>{{ contact.business_name }}</h6></div>
  </div>

    {% with m=get_flashed_messages()%}
    {%if m%}
          {%for msg in m%}
            {{msg |safe}}
          {%endfor%}
        {%endif%}
  {%endwith%}

  {% if deets.b_user_id == userid %}
    <div class="form-floating text-center" align="center">
        <button class="spbtn pro_pic" type="submit">Update Picture</button>
    </div>
  {% endif %}
  
 </div>

{% endblock %}