<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/form.css') }}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css') }}"/>
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap/css/bootstrap.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/animate.min.css') }}"/>
    <link rel="stylesheet" href="{{url_for('static', filename='fontawesome/css/all.css') }}"/>
    <script type="text/javascript" src="{{url_for('static', filename='js/jquery-3.6.1.min.js') }}" defer></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/main.js') }}" defer></script>
    <style type="text/css">
        body{
            display: flex;
            height: 100vh;
            justify-content: center;
            align-items: center;
            padding:10px;
            background:linear-gradient(135deg,rgb(1, 142, 66), #721817);
        }
        .container{
            max-width: 45.572916666666664vw;
            width:100%;
            background: #fff;
            border-radius: 5px;
        }

        

    </style>
</head>
<body>
    <div class="container">
        <div class="form_title">Sign Up</div>
            <form action="#">
                <div class="userdetails">
                    <div class="inputbox">
                        <span class="details">Full Name</span>
                        <input type="text" placeholder="Enter your full name" required>
                    </div>
                    <div class="inputbox">
                        <span class="details">Email</span>
                        <input type="text" placeholder="Enter your email address" required>
                    </div>
                    <div class="inputbox">
                        <span class="details">Phone Number</span>
                        <input type="text" placeholder="Enter your phone number" required>
                    </div>
                    <div class="inputbox">
                        <span class="details">Password</span>
                        <input type="password" placeholder="Create a password " required>
                    </div>
                    <div class="inputbox">
                        <span class="details">Confirm Password</span>
                        <input type="text" placeholder="Confirm password" required>
                    </div>
                </div>
                <div class="genderdetails">
                    <span class="gendertitle">Gender</span>
                    <div class="category">
                        <label for="">
                            <span class="dot one"></span>
                            <span class="gender">Male</span>
                        </label>
                        <label for="">
                            <span class="dot one"></span>
                            <span class="gender">Female</span>
                        </label>
                        <label for="">
                            <span class="dot one"></span>
                            <span class="gender">I'd rather not say</span>
                        </label>
                    </div>
                </div>
                <div class="bttn">
                    <input type="submit" value="Register">
                </div>


    
    
    
    
    
    
    
    </div>












</body>

</html>