

* {
    box-sizing: border-box;
    padding: none;
    margin: none;
    font-family: 'sf pro display', sans-serif;
    font-size: 18px;
}

._logo {
    position: absolute !important;
    top: 0;
    width: 50%;
}

#logo {
    max-width: 20%;
    position: relative;
    top: -50%;
    left: 50%;

}

.nav_bar{
    height:80px;
    border-radius:40px;
    width:74%;
    position:fixed !important;
    top:0;
	left:14%;
    z-index: 50;
    border:2px solid #fff;
    background-color:#0e34a0;
    color:#fff;
    line-height: 80px;
}

.main_hero{
    height:580px;
    background-image:url(images/svg/imagination.svg);
	background-size: cover;
    background-repeat:no-repeat;
}

.headercase{
    width:35%;
    position:relative;
    top:45px; right:6%;
}

.btncase{
    width:auto;
    position:inherit !important;
    right: 8%;
}

._intro {
    position: absolute !important;
    top: 37% !important;
    left: 8%;
    color: #bcb8b1;
    font-size: medium;
    font-style: italic;
    font-weight: 200;
    width: 50%;
    text-align: center;
}

#headintro {
    background-color: #0e34a0;
    height: 100vh;
    position: absolute !important;
    right: 0;
}

#_intro_msg {
    position: absolute !important;
    top: 42%;
}

#_intro_msg span {
    font-size: small;
    font-weight: 400;
}

._dropdown {
    position: absolute !important;
    bottom: 44%;
    left: 22%;
    color: #f86624 !important;
    font-size: medium !important;
    font-weight: 200;
    font-size: medium;
}

._ctadropdown {
    width: 100px;
    position: absolute !important;
    bottom: 34%;
    left: 28%;

}

._ctabtn {
    background-color: #0e34a0;
    font-size: medium;
    color: #fff;
}

.ctabtn_outline {
    font-size: medium;
    color: #0e34a0;
    border-color: #0e34a0;
}

.col3 li {
    list-style: none;
    display: inline;
    line-height: 30px;
    ;
}

.col3 a {
    text-decoration: none;
    color: #fff;
}

.col3 a:hover {
    color: #018E42
}

.col3 a:active {
    color: #018E42;
}

.purpose h4 {
    color: #087CA7;
    font-size: medium;
}

.intsctn {
    height: 60vh;
    border-radius: 30px;
    background-color: #0e34a0;
}

.hero_title1 {
    color: #BCA0BC;
}
.hero_title2{
    color:#721817
}
.title{
    color:#721817;
}

.desc{
    font-size:xx-small;
    font-weight: 200;
    color:#99AA38
}
.photobox {
    position: relative;
    background-color: #EAEAEA;
    height: 350px;
    border-radius: 50px
}
.photobox h5{
    color:#0A210F;
    font-size:smaller;
}

.photobx {
    color: #0A210F;
    font-size: smaller;
}

.footer{
    height:16vh;
    background-color: #0e34a0;
    border: 2px solid;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.footer li{
    display: inline;
}
.footer li a{
    text-decoration:none;
    color:#F7EBEC;
    font-size: 12px;
    font-weight: 300;
}

.footer li a:hover{
    color: #018E42;
}
.footer li a:active{
    color: #018E42;
}
.footer p{
    font-size: 14px;
    font-weight: 300;
    color:#F7EBEC;
}

/*   DASHBOARD STYLING STARTS HERE  */

.clearfix{
	clear:both;
}

.sidenav{
	height: 100%;
	width:300px;
	position: fixed;
	z-index:1;
	top:0;
	left:0;
	background-color: rgba(76, 46, 5, 0.5);
}

.sidenav a{
	padding: 15px 8px 15px 32px;
	text-decoration: none;
	font-size: 20px;
	color: #ccc;
	display: block;
	transition:0.3s;
}

.sidenav a:hover{
	color:#ccc;
	background-color: #10349A;
}

.main{
	transition: margin-left .5s;
	padding: 16px;
	margin-left: 300px
}

.head{
	padding:20px;
}

.col-div-6{
	width: 50%;
	float:left;
}

.profile{
	display: inline-block;
	float: right;
	width: 160px;
}

.pro_img{
	float: left;
	width: 40px;
	margin-top: 5px;
}

.profile p{
	color: #fff;
	font-weight: 500;
	margin-left: 55px;
	margin-top: 10px;
	font-size: 13.5px;
}

.profile p span{
	font-weight: 400;
	font-size: 12px;
	display: block;
	color: #95969D;
}

.nav2{
	display: none;
}

.col-div-3{
	width: 25%;
	float: left;
}

.box{
	width:85%;
	height:100px;
	background-color: #BEE7B8;
	margin-left: 10px;
	padding: 10px;
	cursor: pointer;
}

.box p{
	font-size: 35px;
	color: #fff;
	font-weight: bold;
	line-height: 30px;
	padding-left: 10px;
	margin-top: 20px;
	display: inline-block;
}

.box p span{
	font-size: 20px;
	font-weight: 400;
	color:#4C2E05;
}

.box-icon{
	font-size: 40px !important;
	float: right;
	margin-top: 35px !important;
	color: #4C2E05;
	padding-right: 10px;
}

.col-div-8{
	width: 70%;
	float: left;
}

.col-div-4{
	width: 30%;
	float: left;
}

.content_box{
	padding: 20px;
}

.content_box p{
	margin: 0;
	font-size: 20px;
	color: #F24333;
}

.content_box p span{
	float: right;
	background-color: #ddd;
	padding: 3px 10px;
	font-size: 15px;
}

.box-8, .box-4{
	width: 96.5%;
	background-color: rgba(14, 52, 160, 0.8);
	height: 330px;
}

.box-8{
	margin-left: 10px;
	width: 95%;

}

table{
	border-collapse: collapse;
	width: 100%;
}

td, th{
	text-align: left;
	padding: 15px;
	color: #EFEFF1;
	border-bottom: 1px solid #0e34a0;
}

th{
    color:#99AA38 !important;
}

.circle_wrap{
	margin: 50px auto;
	width: 150px;
	height: 150px;
	background: #F7F4F3;
	border-radius: 50%;
}

.circle_wrap .circle .mask, .circle_wrap .circle .fill{
	width: 150px;
	height: 150px;
	position: absolute;
	border-radius: 50%;
}

.circle_wrap .circle .mask{
	clip:rect(0px, 150px, 150px, 75px);
}

.circle_wrap .circle .mask .fill{
	clip:rect(0px, 75px, 150px, 0px);
	background-color: #0e34a0;
}

.circle_wrap .circle .mask.full, .circle_wrap.circle .fill{
	animation: fill ease-in-out 3s;
	transform: rotate(126deg);
}

@keyframes fill{
	0%{
		transform: rotate(0deg);
	}
	100%{
		transform: rotate(126deg);
	}
}

.circle_wrap .inside_circle{
	width: 130px;
	height: 130px;
	border-radius: 50%;
	background: #fff;
	line-height: 130px;
	text-align: center;
	margin-top: 10px;
	margin-left: 10px;
	margin-left: 10px;
	position: absolute;
	z-index: 100;
	font-weight: 700;
	font-size: 2em;
}



  




































@media only screen and (max-width:700px) {
    body {
        height: 100vh;
    }

    * {
        box-sizing: border-box;
        margin: none;
        padding: none;
    }

    ._logo {
        position: absolute !important;
        top: 0;
        left: 30%;
    }

    #logo {
        max-width: 50%;
        position: absolute !important;
        left: 7%;

    }

    ._intro {
        position: absolute !important;
        top: 20%;
        left: 28%;
        text-align: center;
        font-size: medium;
        font-weight: 200;
        border: 2px solid;
    }


    #headintro {
        display: none;
    }

    #sm_msg {
        position: absolute !important;
        bottom: 4%;
        text-align: center;
        width: 92%;
        font-size: small;
        color: #F7EBEC;

    }

    ._dropdown {
        position: absolute !important;
        bottom: 42%;
        left: 32%;
        color: #009ddc !important;
        font-size: medium !important;
        font-weight: 200;
        font-size: medium;
    }

    ._ctadropdown {
        width: 100px;
        position: absolute !important;
        bottom: 35%;
        left: 38%;

    }

    #ctabtn {
        background-color: #0e34a0 !important;
        border-radius: 20px;
        position: absolute !important;
        bottom: 20%;
        left: 36%;
        font-size: medium;
    }

    #ctabtn :hover {
        background-color: #B49A67;
        transition: 0.15s;
    }
}

.intsctn {
    height: 60vh;
    border-radius: 30px;
    background-color: #F7EBEC;
}