{% extends "investhome.html"%}

{% block i_home_style %}
<style>
.spbtn{
  position: relative !important;
  left: -16%;
  width: 20%;
  padding: 7px;
  color: #fff;
  background: #018E42;
  text-align: center;
  font-size: 18px;
  border-radius: 4px;
  outline: none;
  border-radius: none;
  cursor: pointer;
  transition: .3s;
}
.footer{
  background-color: #018E42;
}
</style>
{% endblock %}
  
{% block content %}
<div class="content" style="background-color: white;padding:1.5em">
  <h3>Update Your Email Address</h3>

  <form method="post" enctype="multipart/form-data">
    <input type="hidden" name="csrf_token" id="csrf_token" value="{{csrf_token()}}">
    <div class="form-group row my-5">
        <label for="" class="col-md-2">New Emaill Address</label>
        <input type="text" name="mail" class="col-md-6">
        <input type="submit" value="Update" class="spbtn col-md-3">
    </div>
  </form>
 </div>
 
{% endblock %}