<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Funds App</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css') }}"/>
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap/css/bootstrap.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/aninmate.min.css') }}"/>
    <link rel="stylesheet" href="{{url_for('static', filename='fontawesome/css/all.css') }}"/>
    <script type="text/javascript" src="{{url_for('static', filename='js/jquery-3.6.1.min.js') }}"/></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/main.js') }}" defer></script>
</head>
<body>












</body>
</html>